@model IEnumerable<PolDentEx.Models.TreatmentOnAppointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.AppointmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TreatmentOnAppointmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TreatmentOnAppointmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TreatmentOnAppointmentId })
        </td>
    </tr>
}

</table>
